<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="net.minecraft.server.MinecraftServer" />
    <module name="FiveFix.main" />
    <option name="PROGRAM_PARAMETERS" value="nogui" />
    <option name="VM_PARAMETERS" value="-Dfml.core.libraries.mirror=https://files.prismlauncher.org/fmllibs/%s" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/run/" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>